@font-face {
 font-family: "Tomica";
 src: url("./font/Tomica-Regular.ttf" )
}
@font-face {
 font-family: "Tomica";
 src: url("./font/Tomica-Bold.ttf" )
 font-weight: 600;
}
@font-face {
 font-family: "Adobe-Caslon-Pro";
 src: url("./font/Adobe-Caslon-Pro.ttf" )
}
@font-face {
 font-family: "Adobe-Caslon-Pro";
 src: url("./font/Adobe-Caslon-Pro-Bold.ttf" )
 font-weight: 600;
}
@font-face {
 font-family: "Adobe-Caslon-Pro";
 src: url("./font/Adobe-Caslon-Pro-Italic.ttf" )
 font-style:italic;
}

body{
    margin:0;
}


#dt-wrap{
  width:720px;
  display: flex;
}

#dt-version{
  display: flex;
  justify-content: center;
  align-items: center;
  height:95vh;
}

#m-version{
  display: none;
}


#dt-call{
  width:30px;
  border: dashed black 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 5px 0px;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: 160px;
}

#dt-call a:link{
  color:black;
}
#dt-call a:visited{
  color:black;
}
#dt-call a:hover{
  color:black;
}
#dt-call a:active{
  color:black;
}

#dt-call-picture{
  margin-bottom: 7px;
}
#dt-left{
  width:519px;
  display: flex;
flex-direction: column;
align-items: center;
}

#dt-name{
  font-family: "Tomica";
  font-weight: 600;
  font-size: 59px;
  margin:0px
}

#dt-right{
  width:220px;
}

#dt-credits{
  background-image: url(img/signature.svg);
width: 130px;
height: 65px;
background-size: cover;
display:flex;
font-family: "Tomica";
color: rgba(0,0,0,0.46);
font-size:14px;
}

#dt-copyright{
   margin-bottom: 0px;
   margin-top: auto;
}

#dt-currently-doing{
  font-style: italic;
  font-size: 17px;
  letter-spacing: -1px;
}

.b{
  font-weight: bold;
}
