@font-face {
 font-family: "Tomica";
 src: url("./font/Tomica-Regular.ttf" )
}
@font-face {
 font-family: "Tomica";
 src: url("./font/Tomica-Bold.ttf" )
 font-weight: 600;
}
@font-face {
 font-family: "Adobe-Caslon-Pro";
 src: url("./font/Adobe-Caslon-Pro.ttf" )
}
@font-face {
 font-family: "Adobe-Caslon-Pro";
 src: url("./font/Adobe-Caslon-Pro-Bold.ttf" )
 font-weight: 600;
}
@font-face {
 font-family: "Adobe-Caslon-Pro";
 src: url("./font/Adobe-Caslon-Pro-Italic.ttf" )
 font-style:italic;
}

body{
  margin:0;
}


#dt-version{
  display: flex;
}

#dt-left{
  width: 40.1%;
  height: 100vh;
  min-width: 63.32vh;
  min-height: 50vw;
}

#dt-bg-secondary{
  background-color: #6D5342;
  min-width: 63.32vh;
  min-height: 70vh;
  height: 35vw;
  width:40.1%;
  z-index: 0;
  position: absolute;
}

#dt-profil-picture{
  width: 100%;
  transform: translateY(-14%);
  position: absolute;
}

#dt-profil-picture-container{
  position: relative;
  z-index: 1;
  width: 92.5%;
  min-height: 89vh;
  margin: 4.5vh auto auto 4%;
  height: 44.453vw;
/*  max-height: max(57vw, 89vh);*/
  overflow: hidden;
  background-color: #08171e;
}

#dt-name{
  position: relative;
  font-family: "Tomica";
  font-weight: 400;
  color: white;
  font-size: max(4.2vw, 6.8vh);
  margin: 59% max(17.454px, 2vw);
}

#dt-right{
  width: 59.9%;
  height: 100vh;
}

#dt-content{
  background-color: black;
  height: 85vh;
}


.copyright{

font-size: 11px;
font-family: "Tomica";
margin-bottom:5%!important;
}
